@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.headName h1{
  color: white;;
  float: left;
  margin: 0 10px;
}
.headName img{
  background: none;
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 30px;
  float: left;
}

/* container for login */
.container1{
    width: 400px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(to left,#01050D,#0C2051,rgb(5, 41, 138));
    margin-bottom: auto;
    border-radius: 30px;
    box-shadow: 0 0 20px 2px #e99aab;
    color: linear-gradient (to left,#01050D,#0C2051,rgb(5, 41, 138));
}
/* container for resetPassword */
.container2{
    width: 520px;
    height: 280px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(to left,#01050D,#0C2051,rgb(5, 41, 138));
    margin-bottom: auto;
    border-radius: 30px;
    box-shadow: 0 0 20px 2px #e99aab;
}
/* container for register */
.container3{
    width: 380px;
    height: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(to left,#01050D,#0C2051,rgb(5, 41, 138));
    margin-bottom: auto;
    border-radius: 30px;
    box-shadow: 0 0 20px 2px #e99aab;
}
.login-box{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #e25070;
    background-color:  transparent;
    margin-bottom: auto;
  }
  .reg{
    width: 300px;
    height: 350px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #e25070;
    background: transparent;
    margin-bottom: auto;
  }
  .password{
    width: 450px;
    height: 270px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #e25070;
    background: transparent;
    margin-bottom: auto;
  }
/* class to go back to login page */
  .backlink{
      margin-top: 40px;
      text-align: center;
  }
  
  .login-box h1,.reg h1,.password h5{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 13px 0;
  }

  .textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 7px 14px;
    margin: 8px 0;
    margin-top: 10px;
    border-bottom: 1px solid white;
    font-weight: bold;
  }

  .textbox i{
    width: 26px;
    float: left;
    text-align: center;
  }
  .eye{
    position: absolute;
  }
  #hide1{
    display: none;
  }
  #hide3{
    display: none;
  }

  .textbox input{
    border: none;
    outline: none;
    background: none;
    color: #dbf547;
    font-size: 14px;
    width: 80%;
    float: left;
    margin: 0 10px;
  }
  
  /*class link to resetPassword page */
.pass{
    float: right;
    cursor: pointer;
}

.btn{
    border: 1px solid #000000;
    border-radius: 100px;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    width: 80%;
    margin-bottom: 0%;
  }
  .btn3,.btn4{
    color: white;
    font-size: 18px;
  }
  .btn3:hover,.btn4:hover{
    color: white;
  }
  .btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #e25070;
    z-index: -1;
    transition: 0.8s;
  }
 .btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  .btn4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }
  .btn3::before,.btn4::before{
    height: 180%;
  }
  .btn3:hover::before,.btn4:hover::before{
    height: 0%;
  }
  .social-icons{
    margin: 30px auto;
    text-align: center;
}

/* for social icon */
ul{
  margin-top: 0px;
  display: flex;
}

.social-icons li {
 
  position: relative;
  display: block;
  font-size: 20px;
  height: 40px;
  width: 40px;
  background: black;
  line-height: 45px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: .5s;
  justify-content: center;
  margin-bottom: -2%;
  
}

ul li:nth-child(1){
  color: #3b5998;
}
ul li:nth-child(2){
  color: 	#55acee;
}
ul li:nth-child(3){
  color: #dc4e41;
}

ul li:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  border-radius: 50%;
  transform: scale(.9);
  z-index: -1;
  transition: .5s;
  background: #E1306C;
}

ul li:hover:before{
  filter: blur(3px);
  transform: scale(1.2);
  box-shadow: 0 0 15px #d35400;
}

